:host {
  google-chart {
    width: 100%;
    min-height: 350px;
  }

  ion-buttons {
    margin-top: 10px;
    flex-flow: row-reverse;
    padding-right: 5%;
  }

  ion-thumbnail {
    width: 80%;
    height: 350px;
    margin: 20px auto auto auto;
  }
}
