:host {
  .container {
    .details {
      display: flex;
      flex-flow: column;
      margin-left: 10%;
      width: 75%;

      ion-text {
        min-width: fit-content;
        margin-bottom: 10px;
      }

      ion-skeleton-text {
        width: 250px;
        height: 17px;
      }
    }
  }
}
