<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projeção{{ ticker ? ': ' + ticker : ' Futura' }}</ion-title>
    <app-search [baseHref]="'/projecao'" slot="end"></app-search>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ ticker }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <app-empty-container *ngIf="!ticker">
      <ion-icon name="trending-up-outline"></ion-icon>
    </app-empty-container>

    <app-chart *ngIf="ticker"
      [ticker]="ticker"
      [history]="real"
      [forecast]="forecast"
    ></app-chart>

    <div class="details" *ngIf="ticker && isLoading">
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>

    <div class="details" *ngIf="ticker && !isLoading">
      <ion-text color="dark">
        <strong>Dias de Pregão:</strong> {{ daysAgo }}
      </ion-text>
      <ion-text color="dark">
        <strong>1° Dia de Pregão:</strong> {{ firstDay | date:'dd/MM/yyyy' }}
      </ion-text>
      <ion-text color="dark">
        <strong>Erro Quadrático Médio:</strong> {{ error | percent:'1.2' }}
      </ion-text>
    </div>
  </div>
</ion-content>
